.blocks-container {
  display: flex;
  flex-direction: column;
}

.block {
  background: #E5E5E5;
  width: auto;
  padding: 0 1.5rem;
  height: 70px;
  border-radius: 8px;
  font-size: 1em;
  display: flex;
  align-items: center;
  color: #000;
  font-family: 'Public Sans', sans-serif;
  margin-bottom: 1rem;
}

.block span {
  font-size: 1em;
}

.block .digits {
  font-size: 1.25em;
  font-weight: bold;
  margin-right: 1rem;
}

.block.stretch {
  justify-content: space-between;
  background: #fff;
  height: 5px;
  padding: 0;
}

.block h3 {
  margin: 0;
}

.start {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.start-timer {
  display: flex;
  flex-direction: column;
}