.timer {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.clock {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.time {
  font-size: 3rem;
  padding: 2rem;
}

.time.focus-enabled {
  opacity: 0.5;
}

.timer-buttons {
  display: flex;
  flex-direction: column;
  width: 100%;
}

/* Stretches */
.stretches {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.stretch {
  background: #E5E5E5;
  width: auto;
  padding: 0 1.5rem;
  height: 70px;
  border-radius: 8px;
  font-size: 1em;
  display: flex;
  align-items: center;
  color: #000;
  font-family: 'Public Sans', sans-serif;
  margin-bottom: 1rem;
}